# Maven
target/
*.jar
*.war
*.class
*.log

# IDE
.idea/
*.iml
.eclipse/
.project
.classpath
.settings/
*.sts4-cache

# Environment / Secrets
.env
application-secrets.properties

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring-shell.log
